
.grid-stack {
    background: none; /* lightgoldenrodyellow;*/
}

.grid-stack-item-content {
    color: #2c3e50;
    border: solid lightgrey 2px;
    /* text-align: center; */
    overflow: hidden;
    background-color: #fff;
    box-shadow: 2px 2px 2px lightgrey;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.title-bar {
    padding: 3px;
    background: #f0f0f0;
}

.graph-title {
    font: 16px sans-serif;
    text-anchor: start;
    text-align: left;
    /* background-color: #6a6a6a; */
    /* color: #988; */
}

.grid-stack-item-content::-webkit-scrollbar {
    width: 0 !important
}

html, body {
    scrollbar-width: none !important;
}

.grid-stack {
    background: none; /* lightgoldenrodyellow;*/
}

/* #state_map-content {
    height: calc(100% - 30px);
    width: 100%;
}

#US_map-content {
    height: calc(100% - 30px);
    width: 100%;
}

#world_map-content {
    height: calc(100% - 30px);
    width: 100%;
} */

.ocean {
	fill: #bfd7e4;
}

.graticule {
  fill: none;
  stroke: #efefef;
  stroke-width: 0.4;
}

.world_symbol {
  fill: #de2d26;
  fill-opacity: 0.85;
  stroke-width: 0.3;
  stroke: #fff;
}

.world_symbol.highlight {
	stroke-width: 3;
	fill-opacity: 0.95;
	stroke-opacity: 0.8;
    }
    
.US_symbol {
    fill: #de2d26;
    fill-opacity: 0.85;
    stroke-width: 0.3;
    stroke: #fff;
  }
  
.US_symbol.highlight {
    stroke-width: 3;
    fill-opacity: 0.95;
    stroke-opacity: 0.8;
    }

/* hoverline for world cases plot */
.hover-line-world {
    stroke: #f5f;
    fill: none;
    stroke-width: 2px;
    left: 10px;
    shape-rendering: crispEdges;
    opacity: 0.5;
}

.hover-line-US {
    stroke: #f5f;
    fill: none;
    stroke-width: 2px;
    left: 10px;
    shape-rendering: crispEdges;
    opacity: 0.5;
}


.text_label {
	font: 11px Helvetica, sans-serif;
	color: #999;
}

.land {
	/* stroke: #cacaca; */
}

.line {
    fill: none;
    stroke: #777;
    stroke-width: 1;
}

/* world curves highlight */
.line.world_highlight {
    stroke: red;
    stroke-width: 3;
}

/* world curves highlight */
.line.US_highlight {
    stroke: red;
    stroke-width: 3;
}

.overlay {
  fill: none;
  pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: #ffab00;
    stroke: #fff;
}
  
.focus circle {
	fill: none;
	stroke: steelblue;
}


/* w3 schools */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fafafa;
  font-size: 16px;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 65%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.grid-container{
  height: calc(100% - 30px);
  width: 100%;
}

.map-content{
  height: 75%;
  width: 100%;
}

.map-affiliation-content{
  height: 25%;
  width: 100%;
}

.map-affiliation-content{
  height: 25%;
  width: 100%;
}

.plot-content{
  height: 100%;
  width: 100%;
}

.plot-affiliation-content{
  height: 0%;
  width: 100%;
}

.plot-affiliation-content{
  height: 0%;
  width: 100%;
}
